html {
  height: 100%;
}

body {
  border-radius: 7px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: #efefef;
  margin: 0;
  display: block;
  min-height: 100%;
  overflow: auto;
}

@media (min-width: 641px) {
  :root {
    margin: 0 28vw;
    font-size: larger;
    #background: linear-gradient(to bottom,  #cfe7fa 30%,#cfe7fa 45%,#6393c1 98%);
    background-image: url(backgrounds/triangle-mosaic.webp);
    background-repeat: repeat;
  }
}

@media (max-width: 641px) {
  :root {
    margin: 0;
    background-color: lightblue !important;
  }
}

.taxes-class {
  margin: 10% auto;
  max-width: 100%;
  background-color: white;

  .calc {
    .label-thing {
      display: flex;
      margin: auto;
      padding: 10px;
      justify-content: left;
      div {
        padding: 0px 2px;
      }
    }
  }
}

h1, h2 {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}

.container {
  margin: 0 7%;
  height: 100%;
}
.content {
  text-align: left;
}
.navbar {
  height: 5vh;
  min-height: 60px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  background-color: #333;
  border-radius: 5px;
}
img {
  padding-top: 15px;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
li a {
  list-style-type: none;
  color: white;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: #111;
}
a {
  color: #111;
  text-decoration: none;
  padding: 5px;
}
.nav-block {
  float: left;
  height: 100%;
  display: block;
  margin: 20px 20px;
}
.nav-icon {
  float: right;
}
